# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# IDEA Items
*.iml
.idea/

pmd_result.log
mvn_pmd.sh

# Package Files #
.settings
.idea
.metadata
target
classes
.jupiter
.project
.classpath
*.lock
*.DS_Store
*.swp
*.out
*.iml
/bin/

# target
/target/
foodie-api/target/*
foodie-common/target/*
foodie-mapper/target/*
foodie-pojo/target/*
foodie-service/target/*



